html {
    background-color: rgb(217, 240, 248);
    text-align: center;
}

header h1 {
    color: rgb(70, 149, 122);
}

.card:hover {
    background-color: lightgray;
    cursor: pointer;
}

.backCard {
    background-color: red;
    color: white;
    border: 4px solid rgb(126, 29, 29);
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: 400px;
}

.backCard:hover {
    background-color: black;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

th {
    background-color: whitesmoke;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}