<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SKKU ATM</title>
    <link rel="stylesheet" href="pin.css" />
   
  </head>
  <body>
    <div>
      <div>
        <header>
          <p>Please enter your PIN:</p>
        </header>
      </div>
      <form>
        <input id="accountInput" type="password" placeholder="Enter PIN" />
      </form>
      <div class="grid">
        <div class="cards">
          <div class="card" onclick="appendFunction('1')">
            <p>1</p>
          </div>
          <div class="card" onclick="appendFunction('2')">
            <p>2</p>
          </div>
          <div class="card" onclick="appendFunction('3')">
            <p>3</p>
          </div>
          <div class="card" onclick="appendFunction('4')">
            <p>4</p>
          </div>
          <div class="card" onclick="appendFunction('5')">
            <p>5</p>
          </div>
          <div class="card" onclick="appendFunction('6')">
            <p>6</p>
          </div>
          <div class="card" onclick="appendFunction('7')">
            <p>7</p>
          </div>
          <div class="card" onclick="appendFunction('8')">
            <p>8</p>
          </div>
          <div class="card" onclick="appendFunction('9')">
            <p>9</p>
          </div>
          <div class="card" onclick="checkPinFunction()">
            <p>Enter</p>
          </div>
          <div class="card" onclick="appendFunction('0')">
            <p>0</p>
          </div>
          <div class="card" onclick="deleteFunction()">
            <p>Del</p>
          </div>
        </div>
      </div>
      <button type="text" class="returnCard" onclick="returnFunction()">Return Card</button>
    </div>
    <script src="pin.js"></script>
  </body>
</html>
