html {
    background-color: rgb(217, 240, 248);
    text-align: center;
}

header h1 {
    color: rgb(70, 149, 122);
    font-size: 30px;
    margin: 0;
}
header p{
    font-size: 25px;
    margin: 0;
}
.yesCard {
    background-color: rgb(72, 167, 165);
    color: white;
    border: 4px solid rgb(10, 71, 40);
    border-radius: 5px;
    width: 80px;
    height: 50px;
    font-size: 20px;
    margin: 10px
}
.yesCard:hover{
    background-color: green;
    cursor: pointer;
}


.noCard {
    background-color: red;
    color: white;
    border: 4px solid rgb(197, 77, 77);
    border-radius: 5px;
    width: 80px;
    height: 50px;
    font-size: 20px;
    margin: 10px
}

.noCard:hover{
    background-color: rgb(55, 13, 13);
    cursor: pointer; 
}